<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>SpaceBook</title>
    <link type="text/css" rel="stylesheet" href="home.css" media="screen" />
  </head>
  <body id="members">
    <div id="header">
      <h1> 
      </h1>
    </div>
    <div id="navigation">
      <ul id="tabs"> 
        <li id="main">    <a href="home.html">Home</a>     </li> 
        <li id="members"> <a href="membership.html">Members</a>  </li> 
        <li id="profile"> <a href="homeprofile.html">Profile</a>  </li> 
        <li id="logout">  <a href="login.html">Logout</a>   </li> 
      </ul> 
    </div> 
    <div id="maincontent">
      <div id="primary">      
      </div>  
      <div id="secondary">
      </div>
    </div>
    <div id="footer">   
    </div>
  </body>
</html>